ServerChatApplication/test/
ServerChatApplication/build/
ServerChatApplication/nbproject/
*.xml
*.mf
ClientChatApplication/test/
ClientChatApplication/build/
ClientChatApplication/nbproject/
/ClientChatApplication/dist/
/ServerChatApplication/dist/